# Laravel
**/vendor/
**/node_modules/
**/storage/*.key
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/storage/logs/*
**/bootstrap/cache/*
**/.env
**/.env.backup
**/.phpunit.result.cache
**/Homestead.json
**/Homestead.yaml
**/npm-debug.log
**/yarn-error.log
**/.DS_Store
**/Thumbs.db

# Keep .gitkeep files
!**/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
